body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;  
  background-color: #1d3557;
}

a {
  text-decoration: none;
}


.title {
  text-align: center;
  font-size: 200px;
  letter-spacing: 0.1em;
  color: white;
  transition: transform 250ms;
}

.title:hover {
  transform: scale(1.1);
}


/* LoginManager Styles */
#login-container {
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  width: 375px;
  height: 400px;
  padding-top: 75px;
  background-color: #457B9D;
  border-radius: 10px;
}

.loginInfo {
  width: 100%;
}


#login {
  width: 60%;
  color: white;
}

#signup {
  width: 60%;
  font-size: small;
  color: white;
}

/* .Login-Manager {
  border-style: solid;
  align-content: center;
  border: solid 1px rgb(0, 0, 0);
  background: white;
  height: 200px;
  width: 200px;
  opacity: 1;
  border-width: thick;
  width: 1000px;
  height: 100px;
  object-fit: cover;
  font-weight: bold;
  background-position: center;
  max-width: 600px;
  max-height: 800px;
} */
.stander {
  display: flex;
  margin-top: -28.15em;
  z-index: 4;
  height: 450px;
  width: auto;
  margin-left: auto;
  justify-content: space-between;
}
.stander2 {
  display: flex;
  margin-top: -28.15em;
  z-index: 4;
  height: 450px;
  width: auto;
  margin-right: auto;
  justify-content: space-between;
}


/* Signup Styles */
#signup-container {
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  width: 375px;
  height: 400px;
  background-color: #457B9D;
  border-radius: 10px;
}
  
#signup-title {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* #signup-form {
  border: .3rem groove rgb(255, 255, 255);
  border-radius: 1rem;
  width: 18%;
  padding-bottom: 1rem;
  color: white;
} */

/* #signup-email,
#signup-username,
#signup-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

#signup-form input[type='text'], 
#signup-form input[type='email'], 
#signup-form input[type='password'] {
  display: block;
  width: 70%;
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#signup-form input[type='text']:focus {
  border-color: rgb(87, 85, 85);
}

#signup-form button {
  margin-top: 2rem;
  float: right;
  padding: 5px 15px;
  color: white;
  background: rgb(230, 61, 61);
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: thin solid black;
} */

#streams-container {
  border: none;
  border-top: .2rem solid rgb(110, 108, 108);
  width: fit-content;
  padding-top: 1rem;
}

#streams-container img {
  height: 80px;
  width: 80px;
  margin: 1rem;
  margin-bottom: 0;
  border: thin solid gray;
}

#streams-container span {
  margin: 2rem;
  font-size: 1.3rem;
} */

#stream-checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3rem double rgb(235, 232, 232);
  border-radius: 1rem;
  margin: 2rem 0 0 0;
  padding: 1rem;
}

.stream-checkbox {
  margin: 01rem;     
}
    
#homepage-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(5, 15, 59); */
}


#display-container {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 2rem;
  border: 1px solid #999999;
  background-color: rgb(235, 243, 252);
}
  
#display-container span {
  margin: 1rem 0;
}


.imagine {
  border-style: solid;
  border-width: thin;
  display: flex;
  /* margin-top: 39em; */
  margin-top: -2.21em;
  /* max-width: 800px;  */
  max-width: 800px;
  max-height: 600px;
  align-content: left;
  /* background-position: left; */
  flex-direction: column;
  justify-content: space-between;
  /* padding-right: 400px; */
}

#movie-input-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
  border: thin outset rgb(221, 221, 221);
  border-left: none;
  border-right: none;
  color: white;
  background-color: #457B9D;
  border-radius: 1rem;

}

#movie-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#movie-input input {
  width: 65%;
  border: none;
  margin-right: 1rem;
  outline: none;
  padding-left: .5rem;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
}

#movie-input button {
  padding: .4rem;
  color: white;
  /* background-color: rgb(126, 187, 245); */
}

#movie-input-title {
  margin: 1rem 0 2rem 0;
  font-size: 1.8rem;
  font-family: 'Courier New', Courier, monospace;
}