#display-container {

  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 10px gray;
  border-radius: 1rem;
  width: 18%;
  padding: 2rem;
  padding-bottom: 1rem;
  background-color: rgb(158, 199, 253);
}

#availToStream {
  display: flex;
  justify-content: center;
}

#movieImg {
  vertical-align: middle;
  width: 70%;
  height: 70%;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 10px gray;
  
}

