#display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 2rem;
  border: .5rem double rgb(124, 0, 0);
  background-color: rgb(235, 243, 252);
}

#display-container span {
  margin: 1rem 0;
}
