#login-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -1;
  flex-direction: column;
  background-color: salmon;
  /* background-image: url
    (
      'https://image.shutterstock.com/z/stock-photo-reel-of-film-on-a-black-white-background-426618697.jpg'
    );
  background-size: 100%; */
}

.Login-Manager {
  align-content: center;
  background-color: teal;
  opacity: 0.8;
  /* padding-left: 350px; */
  border-color: black;
  width: 1000px;
  height: 100px;
  object-fit: cover;
  font-weight: bold;
  background-position: center;
  max-width: 600px;
  max-height: 800px;
}

/* https://www.w3schools.com/cssref/default.asp */
/* Css White Space property to specify how white space w/in an element is handled https://www.w3schools.com/cssref/pr_text_white-space.asp */

/* The link for Resizing an element: https://www.w3schools.com/cssref/css3_pr_resiz


export default LoginManager.css */
.user {
  margin-right: 2em;
}

.imagine {
  display: flex;
  /* margin-top: 39em; */
  max-width: 1000px;
  max-height: 600px;
  align-content: center;
  background-position: center;
  flex-direction: column;
  /* padding-right: 400px; */
}
