#login-container {
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  z-index: -1;
  flex-direction: column;
  height: 50vw;
  background: radial-gradient(
    #833AB4 17%,
    #F61F26 47%,
    #FD1D1D 77%,
    #FCB045 100%
  );
  /* background-image: url
    (
      'https://image.shutterstock.com/z/stock-photo-reel-of-film-on-a-black-white-background-426618697.jpg'
    );
  background-size: 100%; */
}
.Login-Manager {
  border-style: solid;
  align-content: center;
  border: solid 1px rgb(0, 0, 0);
  background-image: repeating-linear-gradient(
    180deg,
    #fff,
    #fff 30px,
    #000 30px,
    #000 60px
  );
  height: 200px;
  width: 200px;
  opacity: 1;
  border-width: thick;
  /* padding-left: 350px; */
  border-color: black;
  width: 1000px;
  height: 100px;
  object-fit: cover;
  font-weight: bold;
  background-position: center;
  max-width: 600px;
  max-height: 800px;
}
.stander {
  display: flex;
  /* flex-direction: row; */
  /* align-self: right; */
  margin-top: -28.15em;
  z-index: 4;
  height: 450px;
  width: auto;
  margin-left: auto;
  justify-content: space-between;
}
.stander2 {
  display: flex;
  /* flex-direction: row; */
  /* align-self: right; */
  margin-top: -28.15em;
  z-index: 4;
  height: 450px;
  width: auto;
  margin-right: auto;
  justify-content: space-between;
}
/* https://www.w3schools.com/cssref/default.asp */
/* Css White Space property to specify how white space w/in an element is handled https://www.w3schools.com/cssref/pr_text_white-space.asp */
/* The link for Resizing an element: https://www.w3schools.com/cssref/css3_pr_resiz
export default LoginManager.css */
.user {
  margin-right: 2em;
}
.imagine {
  border-style: solid;
  border-width: thin;
  display: flex;
  /* margin-top: 39em; */
  margin-top: -2.21em;
  /* max-width: 800px;  */
  max-width: 800px;
  max-height: 600px;
  align-content: left;
  /* background-position: left; */
  flex-direction: column;
  justify-content: space-between;
  /* padding-right: 400px; */
}