#login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 20, 70);

}
.Login-Manager {
  border: .3rem groove rgb(255, 255, 255);
  border-radius: 1rem;
  width: 18%;
  padding: 2rem;
  padding-bottom: 1rem;
  background-color: rgb(158, 199, 253);
}

.Loginbutton {
  margin-top: 2rem;
  float: right;
  padding: 5px 15px;
  color: white;
  background: rgb(230, 61, 61);
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: thin solid black;
}
.stander {
  display: flex;
  /* flex-direction: row; */
  /* align-self: right; */
  margin-top: -28.15em;
  z-index: 4;
  height: 450px;
  width: auto;
  margin-left: auto;
  justify-content: space-between;
}
.stander2 {
  display: flex;
  /* flex-direction: row; */
  /* align-self: right; */
  margin-top: -28.15em;
  z-index: 4;
  height: 450px;
  width: auto;
  margin-right: auto;
  justify-content: space-between;
}
/* https://www.w3schools.com/cssref/default.asp */
/* Css White Space property to specify how white space w/in an element is handled https://www.w3schools.com/cssref/pr_text_white-space.asp */
/* The link for Resizing an element: https://www.w3schools.com/cssref/css3_pr_resiz
export default LoginManager.css */
.user {
  margin-right: 2em;
}
.imagine {
  border-style: solid;
  border-width: thin;
  display: flex;
  /* margin-top: 39em; */
  margin-top: -2.21em;
  /* max-width: 800px;  */
  max-width: 800px;
  max-height: 600px;
  align-content: left;
  /* background-position: left; */
  flex-direction: column;
  justify-content: space-between;
  /* padding-right: 400px; */
}