#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 20px;
  text-align: center;
}

.Login-Manager {
  align-content: center;
  background-color: rgb(121, 141, 172);
  opacity: 0.8;
  /* padding-left: 350px; */
  border-width: 1500px;
  border-color: black;
  width: 900px;
  height: 300px;
  object-fit: cover;
  font-weight: bold;
}
.Password {
  align-content: center;
}

.Image {
  background-image: url
    (
      'https://www.shutterstock.com/image-photo/reel-film-on-blackwhite-background-426618697'
    );
  z-index: 900;
}

/* https://www.w3schools.com/cssref/default.asp */
/* Css White Space property to specify how white space w/in an element is handled https://www.w3schools.com/cssref/pr_text_white-space.asp */

/* The link for Resizing an element: https://www.w3schools.com/cssref/css3_pr_resiz


export default LoginManager.css */
