#streams-container {
  border: none;
  display: flex;
  justify-content: space-around;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#streams-container img {
  height: 50px;
  width: 50px;
  margin: .25rem;
  margin-bottom: 0;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
}

#streams-container span {
  margin: 2rem;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
