#streams-container {
  border: none;
  width: fit-content;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#streams-container img {
  height: 80px;
  width: 80px;
  margin: 1rem;
  margin-bottom: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
}

#streams-container span {
  margin: 2rem;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
