#streams-container {
  border: none;
  border-top: .2rem solid rgb(110, 108, 108);
  width: fit-content;
  padding-top: 1rem;
}

#streams-container img {
  height: 80px;
  width: 80px;
  margin: 1rem;
  margin-bottom: 0;
  border: thin solid gray;
}

#streams-container span {
  margin: 2rem;
  font-size: 1.3rem;
}
